@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Brush+Script&display=swap')
	;

body {
	min-height: 98vh;
	background-color: #f3e6e8;
	background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
	font-family: 'Dongle', sans-serif;
	font-family: 'Nanum Brush Script', cursive;
}

input {
	font-family: 'Dongle', sans-serif;
	font-family: 'Nanum Brush Script', cursive;
}

#loginInfo {
	margin: 50px 300px 150px 700px;
	width: 40%;
	border-radius: 20px;
	font-size: 36pt;
	padding-left: 30px;
	font-size: 50pt;
}

#getorder {
	position: absolute;
	top: 20%;
	right: 13%;
	border-radius: 20px;
	font-size: 40pt;
	padding-left: 30px;
}

#meCode {
	display: none;
	border: 10px solid black;
}

#stCode {
	display: none;
}

.oneorder {
	width:50%;
	text-align:center;
	padding-left:150px;
	margin-left: 470px;
	margin-bottom:15px;
	background: #f1f1f1;
	border-radius: 20px;
	font-size: 19pt;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px
		15px 12px;
	padding-left: 30px;
	display:flex;
}

#srCode {
	display: none;
}

.btn {
	background-color: #f3e6e8;
	background-image: linear-gradient(315deg, #d5d0e5 74%, #f3e6e8 0%);
	color: #000;
	font-size: 25pt;
	height: 100%;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	padding-left: 20px;
}